.search_box {
  position: relative;
  padding: 5px;
  min-height: 5px;
  border-radius: 2px;
  border-color: #ddd;
}

.search_icon {
  position: absolute;
  margin-left: -25px;
  color: #999;
  margin-top: 20px;
}

.cat_container {
  padding-left: 0px;
}

.category_list {
  text-decoration: none;
  height: 10px;
  color: #444;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #f4f4f4;
  }
}

.all_effect {
  padding-left: 20px;
}

.sort_btn {
  background-color: #ff754b;
  color: #fff;
  padding: 6px 16px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  line-height: 22px;
}
